@page "/myprojects"

@using BlazorBootstrap
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TaskManager.Application.Projects.DTOs
@using TaskManager.Application.Projects.DTOs.Responses
@using TaskManager.Presentation.Components.Modals
@using TaskManager.Presentation.Components.Tiles
@using TaskManager.Presentation.Enums
@using TaskManager.Presentation.Services
@using System.Linq

@inject ApiClientService ApiClientService
@inject NavigationManager NavManager
@inject ProjectStateService ProjectStateService
@inject ProjectSortStateService ProjectSortStateService
@inject AuthenticationStateProvider AuthenticationProvider
@attribute [Authorize]
@implements IDisposable

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>My Projects</PageTitle>

<h3 style="text-align: center;"> My Projects </h3>
<hr />

<div class="d-flex mb-3 gap-2">

    <Dropdown Color="DropdownColor.None">
        <DropdownToggleButton Class="p-0 border-0 shadow-none display:none">
            <Icon Name="IconName.ArrowDownUp" Size="IconSize.x3" />
        </DropdownToggleButton>

        <DropdownMenu>
            <DropdownItem @onclick="@(() => UpdateSort(SortOption.NameAsc))">Name (A-Z)</DropdownItem>
            <DropdownItem @onclick="@(() => UpdateSort(SortOption.NameDesc))">Name (Z-A)</DropdownItem>
            <DropdownItem @onclick="@(() => UpdateSort(SortOption.ProgressAsc))">Progress (0-100)</DropdownItem>
            <DropdownItem @onclick="@(() => UpdateSort(SortOption.ProgressDesc))">Progress (100-0)</DropdownItem>
            <DropdownItem @onclick="@(() => UpdateSort(SortOption.DateAsc))">Date (Newest - Oldest)</DropdownItem>
            <DropdownItem @onclick="@(() => UpdateSort(SortOption.DateDesc))">Date (Oldest - Newest)</DropdownItem>
        </DropdownMenu>
    </Dropdown>

    <input type="search"
           class="form-control flex-grow-1"
           placeholder="Filter projects..."
           @bind="projectFilter"
           @bind:event="oninput" />


    <Button Type="ButtonType.Button" @onclick="OpenAddProjectModal">
        <Icon Name="IconName.PlusCircleFill" Size="IconSize.x3" />
    </Button>
</div>

<AddProjectModal @ref="addModal"></AddProjectModal>


@code{

    private void UpdateSort(SortOption option)
    {
        currentSort = option;
        ProjectSortStateService.SetSortingMethod(option); 
        StateHasChanged();
    }

    private SortOption currentSort = SortOption.DateDesc; 

    private IQueryable<Application.Projects.DTOs.ProjectTileDto> ApplySorting(IQueryable<Application.Projects.DTOs.ProjectTileDto> query)
    {
        return currentSort switch
        {
            SortOption.NameAsc => query.OrderBy(p => p.Title),
            SortOption.NameDesc => query.OrderByDescending(p => p.Title),

            SortOption.ProgressAsc => query.OrderBy(p => p.TotalTodoItemCount != 0.00 ? Math.Round((double)p.CompleteTodoItemCount / p.TotalTodoItemCount * 100, 2) : 0.00),
            SortOption.ProgressDesc => query.OrderByDescending(p => p.TotalTodoItemCount != 0 ? Math.Round((double)p.CompleteTodoItemCount / p.TotalTodoItemCount * 100, 2) : 0.00),

            SortOption.DateDesc => query.OrderBy(p => p.CreatedOn),
            SortOption.DateAsc => query.OrderByDescending(p => p.CreatedOn),
            _ => query
        };
    }
}


@if (isLoading)
{
    <body>
        <div class="container page-center">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" />
            </div>
        </div>
    </body>

}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <div style="color: red; padding: 10px; border: 1px solid red; margin: 10px 0;">
        <strong>Error:</strong> @errorMessage
        <br />
        <a href="/login">Go to Login</a>
    </div>
}
else if (projects is null || !projects.Any()) 
{
    <hr class="curved-line" />

    <p>No projects found.</p>
}
else
{
    @if (!isLoading)
    {
        <hr />
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 px-2">
            @foreach (var proj in FilteredProjects)
            {
                //OnProjectUpdated = "ReloadProjectTile"
                <div class="col">
                    <ProjectTile project="proj">
                        
                    </ProjectTile>
                </div>
            }
        </div>
        <hr />
    }
}


@code{
    [Inject] protected ToastService ToastService { get; set; } = default!;

    public List<ProjectTile> incompleteProjects = new List<ProjectTile>(); 
    public List<ProjectTile> completeProjects = new List<ProjectTile>();

    private AddProjectModal addModal = default!;
    private string errorMessage = string.Empty;

    private async Task OpenAddProjectModal()
    {
        if (addModal != null)
        {
            await addModal.OnAddProjectModalClick(); 
        }
    }
}

@code {

    private IQueryable<Application.Projects.DTOs.ProjectTileDto> FilteredProjects =>
        ApplySorting(projects?.Where(m => m.Title!.Contains(projectFilter, StringComparison.OrdinalIgnoreCase)) ??
        Enumerable.Empty<ProjectTileDto>().AsQueryable()); 

    private string projectFilter = string.Empty;
    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    private IQueryable<Application.Projects.DTOs.ProjectTileDto>? projects;
    private List<ProjectTileDto>? projectsList = new(); 
    private bool isLoading = true;
    private string Message = string.Empty;
    private bool hasLoaded = false;


    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("In MyProjects OnInitializedAsync");
        ProjectStateService.OnChange += RefreshState;


        var authState = await AuthenticationProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity?.IsAuthenticated == true)
        {
            await LoadProjects();

        }
    }

    public async void RefreshState()
    {
        await InvokeAsync(async () =>
        {
            var projectTiles = await ProjectStateService.GetUserProjectTiles(); 

            if (projectTiles is not null)
            {
                projectsList = projectTiles; 
                projects = projectsList.AsQueryable();

                StateHasChanged();
            }
        });
    }


    public void Dispose()
    {
        ProjectStateService.OnChange -= RefreshState;
    }

    private async Task LoadProjects()
    {
        if(hasLoaded) return;
        hasLoaded = true;

        var projTiles = await ProjectStateService.GetUserProjectTiles();
        if (projTiles is not null && projTiles.Any() && projectsList is not null)
        {
            Console.WriteLine("\n Loading projects from Cache... \n");
            foreach(var tile in projTiles)
            {
                projectsList.Add(tile);
            }

            projects = projectsList.AsQueryable();
            isLoading = false;
            return;
        }

        //If cache is null or empty > Call API to get projects > Save projects to cache
        // Add to ProjectsList and Projects IQueryable for display.
        try
        {
            Console.WriteLine("\n Loading projects from API... \n");

            var client = ApiClientService.GetClient();
            var response = await client.GetAsync("api/projects/MyProjects");

            Console.WriteLine("Back from API Call");
            if (response is null)
            {
                Console.WriteLine("In null block");
                ToastService.Notify(new(ToastType.Danger, "Unexpected Error Retrieving Projects"));
                return;
            }

            if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                errorMessage = "Not authorized. Please log in.";
                ToastService.Notify(new(ToastType.Danger, errorMessage));
                await InvokeAsync(() => NavManager.NavigateTo("/login"));
                return;
            }

            if (!response.IsSuccessStatusCode)
            {

                Console.WriteLine("In unsuccessful block");
                var errorMessage = response.ToString(); 
                if (!string.IsNullOrEmpty(errorMessage))
                {
                    StateHasChanged();
                }

                Console.WriteLine("Error: " + errorMessage);
                ToastService.Notify(new(ToastType.Danger, errorMessage));


                //NavManager.NavigateTo("/login"); 
                ToastService.Notify(new(ToastType.Danger, "Please Log In Again"));

                return;
            }

            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine("In success block");
                var result = await response.Content.ReadFromJsonAsync<List<ProjectTileDto>>();

                if (result is not null)
                {
                    ToastService.Notify(new(ToastType.Success, "Welcome!"));

                    await ProjectStateService.SetProjectTiles(result);

                    projectsList = result;
                    projects = projectsList.AsQueryable();
                }

                else
                {
                    errorMessage = await response.Content.ReadAsStringAsync();
                    ToastService.Notify(new(ToastType.Danger, errorMessage));
                }
            }

            //If unauthorized attempt to load projects
           

            //General error
            else
            {
                errorMessage = $"API returned status code: {response.StatusCode}";
                ToastService.Notify(new(ToastType.Danger, errorMessage));
            }
        }

        catch (Exception ex)
        {
            errorMessage = $"Error: {ex.Message}";
            Console.WriteLine("IN CATCH BLOCK");
            ToastService.Notify(new(ToastType.Danger, errorMessage));
        }

        finally
        {
            isLoading = false;
        }
    }
}
